
// ******* MY MIXIN **********

// ############################
// HEADER => color and size
@mixin formColor {
    
    color: rgba(0, 0, 0, .7);
    font-size: 1.2rem;

}

// Padding
@mixin pad {

    padding: 1rem 0;

}

// Text align
@mixin txtCenter {

    text-align: center;

}

// LOADER ohmyfood text
@mixin loaderTXT {

    animation: loaderEffect 950ms ease-in-out infinite;

}

// letter spacing
@mixin letter {

    letter-spacing: 1px;

}

// CONFIG BG all pages
@mixin bg-pages {

    display: block;
    position: relative;
    z-index: 1;

    width: 100%;
    height: 310px;


}

// HOVER BUTTON => index & all pages
@mixin hoverBUTTON {

    transition: all 250ms linear;

    background: linear-gradient(15deg, rgba($Primaire, .8) 10%, rgba($Secondaire, .8) 100%);
    filter: saturate(100%);

    transform: scale(1.01);

    box-shadow: 1px 3px 6px 1px rgba(5, 5, 5, .55);

}
// ##########################