// Les mixins, sont une notion que j'utilisais très peu sur sass. Même si ceux là sont peu utilise dans ce cas précis, j'ai voulu les inclures, afin d'apprendre a travaillé avec.

// HEADER 
@mixin formColor {
    
    color: rgba(0, 0, 0, .7);
    font-size: 1.2rem;

}

@mixin pad {

    padding: 1rem 0;

}

@mixin txtCenter {

    text-align: center;

}


// LETTER SPACE a désactiver lors de la soutenance 
@mixin letter {

    letter-spacing: 1px;

}

// CONFIG BG pages
@mixin bg-pages {

    display: block;
    position: relative;
    z-index: 1;

    width: 100%;
    height: 400px;


}

// HOVER BUTTON 

@mixin hoverBUTTON {

    transition: all 450ms linear;

    background: linear-gradient(15deg, rgba($Primaire, .8) 10%, rgba($Secondaire, .8) 100%);
    filter: saturate(100%);

    transform: scale(1.01);

    box-shadow: 1px 3px 6px 1px rgba(5, 5, 5, .55);

}