/* FOOTER */

footer {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

    padding: 2rem 1rem;
    background: $DarkGrey;
    
    & h2 {

        margin-bottom: 1rem;

        font-family: 'Shrikhand', cursive;
        font-size: 1.3rem;
        color: white;
        font-weight: 400;

        letter-spacing: 2px;
        
    }

    & nav {   

        & ul {

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-row-gap: 5px;

            & li {


                & i {

                    margin-right: 15px;

                    font-size: 11px;
                    color: white;
                    
                }

                // Correction de la deuxieme icone pour aligner proprement
                & .fa-hands-helping {

                    margin-right: 11px;

                }
                

                & a {

                    display: inline-block;

                    color: white;

                    font-weight: 300;
                    letter-spacing: 1px;

                }

            }

        }

    }

}
