
/* HEADER */
header {

    // TITRE H1 
    & .header-title {

        // position relative, pour que le shadow ne soit pas masqué par le sous bloc du sous titre
        position: relative;
        box-shadow: 0 0 15px 2px rgba(0, 0, 0, .151) ;

        & h1 {

            @include pad;
            @include txtCenter;
            @include letter;
    
            font-family: 'Shrikhand', cursive;
            font-size: 2rem;

        }

    }

    & .header-subtitle {

        @include txtCenter;

        background: $Grey;

        & h2 {

            @include formColor;
            // @include pad;
            padding: 1.3rem 0;

            font-weight: 300;
            
        }

        & i {

            margin-right: .5rem;

            @include formColor;
            
        }

    }

    & .header-main {

        padding: 3rem 1rem 1.2rem 1rem;

        background: rgba($Grey, .4);

        @include txtCenter;

        & h2 {

            margin-bottom: 1.2rem;

            font-size: 2rem;

        }

        & h3 {

            margin-bottom: 1.2rem;

            font-size: 1.1rem;
            font-weight: 300;

        }

        & div {

            max-width: 327px;
            margin: 0 auto;

            & a {

                display: inline-block;
                padding: 15px 30px;

                font-size: 1.2rem;
                font-weight: 600;
                color: #fff;

                white-space: nowrap;

                border-radius: 50px;
                background: linear-gradient(0deg, rgba(147,86,220,1) 10%, rgba(255,121,218,1) 100%);

                box-shadow : 0px 2px 15px 0px rgba(0,0,0,0.25);
            
            }

        }

    }

    & .header-contains {

        padding: 2rem 1rem;

        margin: 0 auto;

        & h3 {

            margin-bottom: 1.5rem;
            text-align: left;

            font-size: 1.5rem;

        }

        & .header-contains-choices {

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);

            justify-items: flex-start;

            & .header-choice {
                
                display: flex;
                align-items: baseline;

                width: 100%;
                white-space: nowrap;

                padding: 25px 30px 25px 10px;
                margin-bottom: 1rem;

                background: $Grey;
                border-radius: 20px;

                box-shadow: 8px 8px 8px -7px #00000075;
                
                & :nth-child(1) {

                    padding: 4px 9px;

                    background: $Primaire;
                    border-radius: 50%;

                    color: white;

                    // Enlever l'axe des Y si besoin, legere correction
                    transform: translateX(-18px) translateY( 1px);
                   

                }

                & i {

                    margin-right: 1rem;
                    font-size: 13px;

                    color: rgba(0, 0, 0, 0.397);

                }

                & :nth-child(3) {

                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.7);

                }

            }

        }

    }

}
