
/* HEADER */
header {

    // TITRE H1 
    & .header-title {

        // position relative, pour que le shadow ne soit pas masqué par le sous bloc du sous titre
        position: relative;
        box-shadow: 0 0 15px 2px rgba(0, 0, 0, .151) ;

        & h1 {

            @include pad;
            @include txtCenter;
    
            font-family: 'Shrikhand', cursive;
            font-size: 2rem;

        }

    }

    & .header-subtitle {

        @include txtCenter;
        
        background: $Grey;

        & h2 {

            @include formColor;
            @include pad;

            font-weight: 300;
            
        }

        & i {

            margin-right: .5rem;

            @include formColor;
            
        }

    }

    & .header-main {

        // modification de ma variable pour faire un faux effet de degradé par rapport au sous titre
        background: rgba($Grey, .4);

    }

}
