// CHECKED FOOD
.main-pages {

    & .main-cards {

        & .cards-menu {

            & .card-listMenu {

                & .menu {

                    max-height: 73px;
                    overflow: hidden;

                    & .menu-checked {

                        margin: -1rem -2rem -1rem 0;
                        height: 73px;
                        width: 75px;

                        background-color: #99e2d0;

                        & i {

                            background: #fff;
                            color: #99e2d0;
                            font-size: 16px;

                            border-radius: 50%;
                            padding: 6px;

                        }

                    }


                }

            }

        }

    }

}