/* Variables COULEURS*/
/* RESET padding et margin, color, fontSize - BORDER BOX */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

/* POLICE 'Roboto', 'Shrikhand' */
body {
  font-family: "Roboto", "Shrikhand", sans-serif;
}

/* HEADER */
header .header-title {
  position: relative;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.151);
}
header .header-title h1 {
  padding: 2rem 0;
  text-align: center;
  letter-spacing: 5px;
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
}
header .header-subtitle {
  text-align: center;
  background: #F3F3F3;
}
header .header-subtitle h2 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  padding: 1.3rem 0;
  font-weight: 300;
}
header .header-subtitle i {
  margin-right: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
}
header .header-main {
  padding: 3rem 1rem 1.2rem 1rem;
  background: rgba(243, 243, 243, 0.4);
  text-align: center;
}
header .header-main h2 {
  margin-bottom: 1.2rem;
  font-size: 2rem;
}
header .header-main h3 {
  margin-bottom: 1.2rem;
  font-size: 1.1rem;
  font-weight: 300;
}
header .header-main div {
  max-width: 327px;
  margin: 0 auto;
}
header .header-main div a {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  border-radius: 50px;
  background: linear-gradient(0deg, #9356dc 10%, #ff79da 100%);
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.25);
}
header .header-contains {
  padding: 2rem 1rem;
  margin: 0 auto;
}
header .header-contains h3 {
  margin-bottom: 1.5rem;
  text-align: left;
  font-size: 1.5rem;
}
header .header-contains .header-contains-choices {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: flex-start;
}
header .header-contains .header-contains-choices .header-choice {
  display: flex;
  align-items: baseline;
  width: 100%;
  white-space: nowrap;
  padding: 25px 30px 25px 10px;
  margin-bottom: 1rem;
  background: #F3F3F3;
  border-radius: 20px;
  box-shadow: 8px 8px 8px -7px #00000075;
}
header .header-contains .header-contains-choices .header-choice :nth-child(1) {
  padding: 4px 9px;
  background: #9356DC;
  border-radius: 50%;
  color: white;
  transform: translateX(-18px) translateY(1px);
}
header .header-contains .header-contains-choices .header-choice i {
  margin-right: 1rem;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.397);
}
header .header-contains .header-contains-choices .header-choice :nth-child(3) {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

/* MAIN, CARDS */
main {
  background: #F3F3F3;
  padding: 2rem 1rem;
}
main h2 {
  margin-bottom: 3rem;
  text-align: left;
  font-size: 1.5rem;
}
main .main-contains {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 50px;
  justify-items: center;
}
main .main-contains .card {
  margin: 0px auto;
  width: 100%;
  max-width: 950px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
}
main .main-contains .card .card-img {
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 25px 25px 0 0;
}
main .main-contains .card .card-img .card-new {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 3;
  background: #99E2D0;
  color: #1B6150;
  padding: 7px 10px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 4px;
  box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.493);
}
main .main-contains .card .card-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translate(-50%, -50%);
}
main .main-contains .card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
main .main-contains .card .card-body i {
  font-size: 23px;
}
main .main-contains .card .card-body h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 1rem;
  background: #353535;
}
footer h2 {
  margin-bottom: 1rem;
  font-family: "Shrikhand", cursive;
  font-size: 1.3rem;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
}
footer nav ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 5px;
}
footer nav ul li i {
  color: white;
  margin-right: 15px;
}
footer nav ul li .fa-hands-helping {
  margin-right: 8px;
}
footer nav ul li a {
  display: inline-block;
  color: white;
  letter-spacing: 1px;
}

/*# sourceMappingURL=style.css.map */
