
// HEADER - ARROW INDEX -Background
.header-pages {

    & .header-title {

        position: relative;

        & .header-return-index {
            
            // ARROW RETURN INDEX + LINK
            & p {
    
               position: absolute;
               top: 28px;
               left: 25px;
    
                & i {
    
                    font-size: 1.5rem;
    
                }
    
            }
    
        }

    }

    & .header-background-laPaletteDuGout {

        @include bg-pages;

        background: url(../image/resto1.jpg) no-repeat center/cover;

    }

    & .header-background-laNoteEnchantee {
        
        @include bg-pages;

        background: url(../image/resto2.jpg) no-repeat center/cover;

    }

    
    & .header-background-aLaFrançaise {
        
        @include bg-pages;

        background: url(../image/resto3.jpg) no-repeat center/cover;

    }

    & .header-background-leDeliceDesSens {
        
        @include bg-pages;

        background: url(../image/resto4.jpg) no-repeat center/cover;

    }

}

.main-pages {

    background: #fff;
  
    // Disposition de la carte, sur le header avec un margin-top en neg
    & .main-cards {
        
        margin: 0 auto;
        padding: 30px 15px 30px 15px;

        max-width: 1400px;

        margin-top: -4rem;
        position: relative;
        z-index: 2;

        border-radius: 30px 30px 0 0;

        background: $Grey;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.267);

        // Nom restaurant + coeur
        & .cards-title {

            display: flex;
            justify-content: space-between;
            align-items: baseline;

            margin:0 10px 3rem 10px;

            & h2 {

                font-family: 'Shrikhand', cursive;
                font-size: 1.5rem;

                white-space: nowrap;

                @include letter;

            }

            & i {

                font-size: 1.3rem;

            }

        }

        // ENTREES PLATS DESSERTS
        & .cards-menu {

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);

            grid-row-gap: 20px;


            // chaque section du menu divisé en trois parties

            // Petit soucie du textoverflow, il a fallu mettre un overflow hidden directement sur la section, avec un flex wrap sur le menu
            & .card-listMenu {

                overflow: hidden;

                & h3 {

                    font-size: 1.3rem;
                    font-weight: 400;

                    margin: 0 0 1.5rem 10px;
                    
                    &::after {

                        display: block;
                        content: '';
                        margin-top: 3px;

                        width: 50px;
                        height: 4px;
                        
                        background: $Tertiaire;

                    }

                }

                & .menu {

                    display: flex;
                    justify-content: space-between;
                    align-items:flex-end;
                    flex-wrap: wrap;

                    cursor: pointer;

                    max-width: 100%;

                    margin: 20px 10px;
                    padding: 16px 20px;

                    border-radius: 15px;
                    background: #fff;

                    box-shadow: 2px 3px 8px -3px #0000006c;


                    & .menu-title {

                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        flex: 1;

                        & p, h4 {
                            
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;

                        }

                        & h4 {

                            margin-bottom: 2px;
                            font-size: 1.05rem;
                            letter-spacing: .5px;

                        }

                        & p {

                            font-size: 1rem;
                            color: rgba(0, 0, 0, 0.7);

                        }

                    }

                    & .menu-price {

                        padding: 0 10px;
                        
                       
                    }


                }


            }

        }

        & .cards-button {

            width: 100%;
            margin: 3rem 0 1.5rem 0;

            text-align: center;

            & p a {

                display: inline-block;

                font-size: 18px;
                padding: 11px 27px;

                border-radius: 20px;

                color: white;

                background: linear-gradient(0deg, rgba(147,86,220,1) 10%, rgba(255,121,218,1) 100%);

                box-shadow : 0px 2px 15px 0px rgba(0,0,0,0.25);

            }

        }

    }

}

