
// HEADER - ARROW INDEX -Background
.header-laPaletteDuGout {

    & .header-title {

        position: relative;

        & .header-return-index {
            
            // ARROW RETURN INDEX + LINK
            & p {
    
               position: absolute;
               top: 28px;
               left: 25px;
    
                & i {
    
                    font-size: 1.5rem;
    
                }
    
            }
    
        }

    }

    & .header-background {

        display: block;
        position: relative;
        z-index: 1;

        width: 100%;
        height: 512px;

        background: url(../image/resto1.jpg) no-repeat center/cover;

    }

}

.main-laPaletteDuGout {

    background: #fff;

    & .cards {
        
        margin: 0 auto;
        padding: 30px 15px;
        max-width: 1300px;

        margin-top: -4rem;
        position: relative;
        z-index: 2;

        border-radius: 30px 30px 0 0;

        background: $Grey;

        & .cards-menu {

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);

            grid-row-gap: 20px;

        }

    }

}

