
// INDEX HEADER MAIN FOOTER
@media only screen and (min-width: 900px) {


    /* FONCTIONNEMENT HEADER-CONTAINS */
    header {

        & .header-contains {

            padding: 5rem 1rem;

            & .header-contains-choices {

                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;

                grid-column-gap: 3rem;

                justify-items: center;

            }

        }    

    }

    /* CARTE MAIN-CONTAINS */
    main {

        padding: 5rem 1rem;


        .main-contains {

            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        
            grid-column-gap: 50px;
        
            justify-items: center;

            & .card {

                max-width: 900px;

            }

        }

    }

    /* FOOTER LINK */
    footer {

        & h2 {

            text-align: center;
            margin-bottom: 2rem;

        }

        & nav {

            & ul {

                grid-template-columns:  repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);

                justify-items: center;

                grid-row-gap: 20px;

                & li {

                    width: 207px;

                }
    

            }

        }

    }

}

@media only screen and (min-width: 1300px) {

    .header-contains {

        padding: 5rem 5rem!important;
        
    }

    main {
        
        padding: 5rem 5rem;
    }

}