
//************ RESPONSIVE ****************

// ###### HEADER MAIN FOOTER ##########
@media only screen and (min-width: 900px) {


    /* FONCTIONNEMENT HEADER-CONTAINS */
    .header {

        & .header-contains {

            padding: 5rem 1rem;

            & .header-contains-choices {

                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;

                grid-column-gap: 3rem;

                justify-items: center;

            }

        }    

    }

    /* CARTE MAIN-CONTAINS */
    .main {

        padding: 5rem 1rem;


        .main-contains {

            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        
            grid-column-gap: 50px;
        
            justify-items: center;

            & .card {

                max-width: 900px;

            }

        }

    }

    /* FOOTER LINK */
    .footer {

        & h2 {

            text-align: center;
            margin-bottom: 2rem;

        }

        & nav {

            & ul {

                grid-template-columns:  repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);

                justify-items: center;

                grid-row-gap: 20px;

                & li {

                    width: 207px;

                }
    

            }

        }

    }

}

@media only screen and (min-width: 1300px) {

    .header-contains {

        padding: 5rem 5rem!important;
        
    }

    .main {
        
        padding: 5rem 5rem;
    }

}
// ####################################


// ####### PAGES RESTAURANTS ##########
@media only screen and (min-width: 1100px) {

    body {

        & .main-pages {

            & .main-cards {
    
                & .cards-menu {
    
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: 1fr;
        
                    grid-column-gap: 15px;

                }
    
            }
    
        }

    }
    
}
// ####################################


// ########## LOADER INDEX  ###########
@media only screen and (max-width: 1100px) {

    .load-txt {

        p {
    
            font-size: 6rem;

        }

    }

}

@media only screen and (max-width: 700px) {

    .load-txt {

        p {
    
            font-size: 5rem;

        }

    }

}
 
@media only screen and (max-width: 600px) {

    .load-txt {

        p {

            font-size: 4rem;

        }

    }

}

@media only screen and (max-width: 500px) {

    .load-txt {

        p {

            font-size: 3rem;

        }

    }

}

@media only screen and (max-width: 380px) {

    .load-txt {

        p {

            font-size: 2rem;

        }

    }

}
// ####################################


// ##########    HEADER    ############
@media only screen and (max-width: 420px) {

    .header {

        & .header-subtitle {

            margin: 0 auto;

            & input {

                text-align: center;

                width: 100%;
                padding: 1.5rem 0rem 0rem 2rem;

            }

            & i {

                transform: translate(-70px, -22px);

            }

        }

        & .header-main {
   
            & div {
       
                & a {

                    padding: 15px 20px;

                }
    
            }
    
        }

    }

}
// ####################################